.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;

  /* background-color: rgb(0 0 0 / .5); */

  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 130px;
}

.header__menu {
  width: 45%;
  max-width: 600px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.header__menu-item {
  font-size: 1.3rem;
  text-decoration: none;
}
.header__menu-item > a {
  text-decoration: none;
  color: white;
}

/* /////////// MEDIA QUERIES ////////////// */

@media (max-width: 1260px), (max-height: 700px) {
  .header__menu {
    height: 100px;
  }
}
@media (max-width: 990px), (max-height: 510px) {
  .header__menu {
    display: none;
  }
}

@media (max-height: 380px){
  .header__logo {
    width: 110px;
  }
}

@media (max-height: 320px){
  .header__logo {
    width: 90px;
  }
}

/* ///////// PORTRAIT ///////// */

@media (orientation: portrait) {
  .header__menu {
    display: none;
  }

  @media (max-height: 990px){
    .header__logo {
      width: 100px;
    }
  }


}
