/*/////////////////////////// NOTA ////////////////////////////// */
/* Basado en la Metodologia BEM. Las clases generales tienen como elemento padre un <section>, y los modificadores vienen dados por el -id- de dicho section */

/* Generales */

/* Font-family: Montserrat */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900);

:root {
  --wine: #461c26;
  --light-gray: #d9d9d9;
  --dark-gray: #686868;
  --pink: #d2848b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", monospace;
  font-size: 14px;
  color: var(--light-gray);
}

body {
  background: var(--wine);
  color: var(--dark-gray);
}

/*///////////////////////  HEADER ////////////////////// */

@import url(./header.css);

/* ///////////////////////MAIN /////////////// */

.highlights {
  color: var(--pink);
  font-weight: bold;
}

.main__section {
  height: 100vh;
  display: flex;
  justify-items: end;
}

/* Elementos Generales */

.section__title {
  font-size: 6rem;
  font-weight: 700;
  min-width: max-content;
  margin-bottom: 2rem;
  letter-spacing: 3px;
}

.section__p {
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.button-link {
  display: block;
  position: relative;
  padding: 15px;
  margin: 0 2rem;
  background-color: var(--wine);
  /* background-color: var(--dark-gray); */
  /* border: 1px solid var(--light-gray); */
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgb(0 0 0 / .5);

  color: var(--light-gray);
  text-align: center;
  text-decoration: none;
}

/* ///////// HOME //////// */

.section__video-container--home {
  box-shadow: 1px 1px 1px white inset;
  position: relative;
  flex-grow: 2;
}

.section__video--home {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__info-container {
  max-width: 600px;
  width: 45%;

  transform: translate(-20%);  
  flex-grow: 1;
  align-self: center;
}

.section__title--home {
  color: var(--pink);
  text-shadow: 3px 3px 3px black;
  transform: translateX(-20%);
}

.section__p--home {
  background-color: var(--light-gray);
  max-width: 700px;
}

.buttons-container {
  transform: translateY(2rem);
  position: relative;
}

.button-link--home {
  width: 60%;
}

.button-link--right {
  margin-top: 1rem;
  margin-left: auto;
}

/* /////////// MEDIA QUERIES ////////////// */

