.work__clothes-menu-container {
  flex-basis: 10%;
  max-width: 135px;
  background: var(--white);
  box-shadow: 0 0 10px black;
  z-index: 3;
  display: flex;
  align-items: center;
}

.work__clothes-menu {
  width: 100%;
  list-style: none;
}

.clothes-menu__item {
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
  transition: all 0.5s ease-in-out;
}

svg {
  transition: fill 0.5s ease-in-out;
}

.clothes-menu__item svg {
  width: 3rem;
  height: 3rem;
  fill: var(--dark-font);
}

.clothes-menu__item:hover {
  background: var(--pink);
  color: white;
}

.clothes-menu__item:hover svg {
  fill: white;
}

.clothes-menu__category {
  min-width: max-content;
}

.clothes-menu__category-ico {
  display: inline-block;
  width: 135px;
  text-align: center;
}

.clothes-menu__category-tag {
  display: inline-block;
  vertical-align: top;
  font-size: 2rem;
  line-height: 3rem;
  margin-left: 2rem;
}

.clothes-menu__item--active {
  fill: white;
  background: var(--pink);
}

.work__title {
  position: relative;
  transform: translate(2rem, 12vh);
  color: var(--white);
  z-index: 1;
}

.work__gallery {
  width: 80%;
  min-width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: start;
}

.i1 {
  background-color: #ffffffcc;
  min-height: 88%;
  width: 27%;
}
.i2 {
  flex-grow: 1;
  flex-basis: 12%;
}

.i3 {
  flex-basis: 1px;
  flex-grow: 1;
  width: 30.5%;
}
.i4 {
  min-height: 60%;
}
.i5 {
  position: relative;
  min-height: 66%;
  width: 33%;
  /*transform: translateY(23%);*/
  margin-top: 15vh;
  z-index: 0;
}

.i4,
.i5 {
  background-position: center;
  background-size: cover;
}

.work__gallery-item--image-a {
  background-image: url(./images/work/work-gallery-1.jpg);
}

.work__gallery-item--image-b {
  background-image: url(./images/work/work-gallery-2.jpg);
}

/* .work__gallery-item > img {
  width: 100%;
  height: 100%;
  background: url(./images/ima.jpg);
   background-position: top;
  object-fit: cover;
  object-position: center; 
  display: none;
} */

.work__social-container {
  height: 100%;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;

  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
}
.work__follow {
  display: none;
}
.work__social-link {
  font-size: 2rem;
  color: var(--white);
}

.gallery__buttons-container {
  width: 60px;
  height: 120px;
  background-color: rebeccapurple;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -60px;
  z-index: 10;
}

.gallery__button {
  width: 100%;
  height: 50%;
  border: none;
  cursor: pointer;
  position: relative;
}

.gallery__button:hover {
  opacity: 0.9;
}

.gallery__button::before,
.gallery__button::after {
  content: "";
  width: 2px;
  position: absolute;
  border-radius: 25%;
  /* background: white; */
}

.gallery__button::before {
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery__button::after {
  height: 11px;
  top: 31%;
  left: 55%;
  transform: rotate(-45deg);
  z-index: 6;
}

.gallery__button--up::before,
.gallery__button--up::after {
  background: var(--white);
}

.gallery__button--down::before,
.gallery__button--down::after {
  background: var(--pink);
}

.gallery__button--up {
  background-color: var(--pink);
  color: var(--white);
}

.gallery__button--down {
  background-color: var(--white);
  color: var(--pink);
  transform: rotate(180deg);
}

.gallery__button--down > .gallery__button::before {
  background-color: brown;
}

/* //////////// PC /////////////// */

@media (orientation: landscape) {
  @media (min-width: 800px) {
    .clothes-menu__item:hover {
      width: 315%;
    }
  }
}

/* //////////// MOBILE /////////////// */

@media (orientation: portrait) {
  .main__section--work {
    flex-direction: column-reverse;
  }

  .work__clothes-menu-container {
    max-width: unset;
    flex-basis: content;
    align-content: end;
    text-align: center;
  }

  .work__clothes-menu {
    display: flex;
    /* align-items: center; */
  }

  .clothes-menu__item {
    padding: 1rem;
  }

  .clothes-menu__category-ico {
    width: unset;
  }

  .clothes-menu__category-tag {
    display: none;
  }

  .work__gallery {
    width: 100%;
    height: 100%;
    min-width: unset;
    min-height: unset;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 500px) {
    .work__title {
      font-size: 1.2rem;
      line-height: 4rem;
      padding: 0 1rem;
      transform: unset;
      position: absolute;
      right: 0;
      top: 40%;
      background-color: var(--beige);
      color: var(--dark-font);
    }

    .fs-letter {
      font-size: 2.8rem;
    }

    .work__gallery {
      padding: 1.2rem 0;
      align-content: space-between;
    }
    .work__gallery-item {
      min-height: unset;
      width: 48%;
      min-width: unset;
      /* flex-basis: 50%; */
      flex-grow: unset;
      position: relative;
    }
    .i1 {
      background: none;
      flex-grow: 1;
      order: 3;
      flex-basis: 30%;
    }
    .i2 {
      /* background: teal; */
      flex-grow: 1;
      order: 2;
    }
    .i3 {
      display: none;
    }
    .i4 {
      flex-basis: 70%;
      order: 1;
    }
    .i5 {
      /* background: forestgreen; */
      flex-basis: 70%;
      margin-top: unset;
      order: 4;
    }

    .work__social-container {
      /* flex-direction: column;
        align-items: start; */
      align-items: end;
    }
  }
}
